@use '_mixin.scss' as *;
@use '_variable.scss' as *;

/* 共通
***************************************************************/

a {
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

li {
    list-style: none;
}