@use '_mixin.scss' as *;
@use '_variable.scss' as *;

/* 共通
***************************************************************/

a {
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

li {
    list-style: none;
}

.view-more-btn {
    display: inline-block;
    background-color: $color-white;
    border: 1px solid $color-black;
    line-height: 1;
    position: relative;
    padding: 1.8175rem 7.6875rem 1.8175rem 7.6875rem;
}

.view-more-btn__text {
    display: inline-block;
    color: $color-black;
    font-family: $font-sub1;
    font-size: 1.25rem;
    line-height: 1;
    vertical-align: sub;
}

.view-more-btn__img {
    aspect-ratio: 1/1;
    width: 1.25;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translate(0, -50%);
}

.level2-heading {
    color: $color-black;
    font-family: $font-main;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
}

.level2-heading__background-font {
    color: rgba(151, 151, 151, 0.10);
    font-family: $font-sub2;
    font-size: 8.5rem;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 0;
    left: -10.38rem;
    transform: translate(0, -25%);
}

.level2-heading__background-font--center {
    left: 50%;
    transform: translate(-50%, -25%);
}

.level2-heading__border {
    display: inline-block;
    position: relative;

    &::before {
        content: '';
        display: block;
        background-color: $color-black;
        position: absolute;
        bottom: -0.4rem;
        width: 100%;
        height: 2px;
        background-color: $color-black;
    }
}

.text {
    color: $color-black;
    font-family: $font-main;
    font-size: 1rem;
    line-height: 1;
}

.arrow-btn {
    background-color: $color-black;
    // border: 1px solid #000;
    border-radius: 50%;
    // position: absolute;
    position: relative;
    // top: calc(23.6875rem + 13.56rem);
    width: 3.625rem;
    height: 3.625rem;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 1.7475rem;
        right: 1.31rem;
        width: 1rem;
        height: 2px;
        background: $color-white;
    }

    &::after {
        content: '';
        width: 0.65rem;
        height: 0.65rem;
        border: 2px solid $color-white;
        border-right: 0;
        border-bottom: 0;
        rotate: 135deg;
        transform-origin: top left;
        position: absolute;
        top: 1.81rem;
        right: 0.4511rem;
    }
}