@use '_mixin.scss' as *;
@use '_variable.scss' as *;

/* fv
***************************************************************/

.fv {
    background-image: url(../img/layout/top-page/fv01.jpg);
    background-size: cover;
}

.fv__inner {
    padding-bottom: 2.38rem;
}

.fv__bg01 {}

.fv__level2-heading {
    color: $color-white;
    font-family: $font-sub1;
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.2;
    padding: 17.88rem 0 0 4.12rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.fv__level3-heading {
    display: inline-block;
    color: $color-white;
    font-family: $font-main;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1.06rem 4.12rem;
    margin-top: 5.38rem;
    background-color: $color-black;
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
}

.news-widget {
    display: flex;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 3.13rem;
    margin-top: 3.94rem;
    margin-left: 4.5rem;
    max-width: 78.9375rem;
}

.news-widget__level3-heading {
    display: inline-block;
    color: $color-white;
    font-family: $font-sub1;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    background-color: $color-black;
    padding: 1.1275rem 3.69rem 1.1275rem 3.6875rem;
    border-radius: 3.13rem 0 0 3.13rem;
}

.news-widget__text {
    padding: 1.375rem 0 1.375rem 5.5575rem;
}

.news-widget__link {
    display: flex;
    align-items: center;
    color: $color-black;
    font-family: $font-sub1;
    font-size: 0.875rem;
    line-height: 1;
    margin: 1.375rem 2.94rem 1.375rem auto;
}

.news-widget__link-img {
    margin-left: 0.38rem;
    width: 0.625rem;
    aspect-ratio: 1/1;
}

/* mission
***************************************************************/

.mission {
    position: relative;
    text-align: center;
    padding: 6.31rem 0 4.75rem;
}

// .mission__inner {}

.mission__level2-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-black;
    font-family: $font-main;
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    top: 23.12rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.mission__level2-heading-span {
    display: block;
    background-color: $color-white;
    padding: 0.44rem 0.69rem;
    margin: 0.44rem auto 0;

    &:first-child {
        margin-top: 0;
    }
}

// .mission__slide-list {}

.mission__slide-list [data-slick-index="1"] {
    margin-top: 2.25em;
}

.mission__slide-list [data-slick-index="3"] {
    margin-top: 2.25em;
}

.mission__slide-list [data-slick-index="5"] {
    margin-top: 2.25em;
}

.mission__slide-list [data-slick-index="7"] {
    margin-top: 2.25em;
}

.mission__slide-item {
    margin-left: 2.12rem;
}

.mission__slide-img {
    aspect-ratio: 31.625/24.5625;
    border-radius: 3.75rem;
    object-fit: cover;
    width: 31.625rem;
}

.mission__level3-heading-wrap {
    background-image: url(../img/layout/top-page/map1.png);
    background-size: contain;
    background-position: center;
    padding-bottom: 2.88rem;
    margin-top: 6.25rem;
}

.mission__level3-heading {
    color: $color-black;
    font-size: 2.25rem;
    font-family: $font-main;
    font-weight: 700;
    line-height: 1.8;
}

.mission__level3-heading-span {
    display: block;
    margin-top: 3.25rem;

    &:first-child {
        margin-top: 0;
    }
}

.mission__view-more-btn {
    margin-top: 0.38rem;
}

/**********  member  **********/

.member {
    text-align: center;
    padding: 5.44rem 0 3.94rem;
}

.member__inner {
    max-width: 64rem;
    max-width: calc(64rem + 13rem - 2.12rem);
    margin-left: auto;
    position: relative;
}

.member__level2-heading {
    text-align: left;
}

.member__text {
    line-height: 1.5;
    text-align: left;
    margin-top: 3.25rem;
}

.member__slide-img {
    aspect-ratio: 18.75/23.6875;
    border-radius: 1.88rem;
    object-fit: cover;
    width: 18.75rem;
}

.member__slide-item:nth-child(4) {
    .member__slide-img {
        transform: scale(-1, 1);
    }
}

.level3-heading {
    color: $color-black;
    font-family: $font-main;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
}

.member__level3-heading {
    position: absolute;
    top: 20.69rem;
    left: 0;
}

.level3-heading-span {
    display: inline-block;
    background-color: $color-main;
    padding: 0.31rem 0.44rem;
}

.member__level3-heading-span {
    margin-top: 0.38rem;
    vertical-align: sub;

    &:first-child {
        margin-top: 0;
    }
}

.member__text-wrap {
    display: flex;
    color: $color-black;
    font-family: $font-main;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 2.12rem;
}

// .member__job-text {}

.member__join-text {
    margin-left: 0.56rem;
}

.member__name-text {
    color: $color-black;
    font-family: $font-main;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1rem;
}

.member__view-more-btn {
    margin-top: 5rem;
    margin-left: calc(-13rem - 2.12rem);
}

/********************************

Slick

********************************/

.member__slide-container {
    position: relative;
}

.member__slide-list {
    text-align: left;
    margin-top: 3.25rem;
    margin: 3.25rem auto 0;
}

.slick-track {
    visibility: visible;
}

.slick-list {
    visibility: hidden;
}

.member__slide-list [data-slick-index="1"] {
    margin-top: 2.25rem;
}

.member__slide-list [data-slick-index="3"] {
    margin-top: 2.25rem;
}

.member__slide-item {
    position: relative;
    margin-left: 2.69rem;

    &:first-child {
        margin-left: 2.12rem;
    }

    &:nth-child(4) {
        margin-left: 2.94rem;
    }
}

.member__slide-btn {
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 50%;
    position: absolute;
    top: calc(23.6875rem + 13.56rem);
    width: 3.625rem;
    height: 3.625rem;
}

.member__prev-btn {
    right: 19.06rem;

    &::before {
        content: '';
        display: inline-block;
        background: $color-black;
        position: absolute;
        top: 1.7475rem;
        left: 1.2475rem;
        width: 1rem;
        height: 2px;
    }

    &::after {
        content: '';
        border: 2px solid $color-black;
        border-right: 0;
        border-bottom: 0;
        position: absolute;
        top: 1.81rem;
        left: 1.185rem;
        rotate: -45deg;
        width: 0.65rem;
        height: 0.65rem;
        transform-origin: top left;
    }
}

.member__next-btn {
    right: 14.19rem;

    &::before {
        content: '';
        display: inline-block;
        // color: $color-black;
        position: absolute;
        top: 1.7475rem;
        right: 1.31rem;
        width: 1rem;
        height: 2px;
        background: $color-black;
    }

    &::after {
        content: '';
        width: 0.65rem;
        height: 0.65rem;
        border: 2px solid $color-black;
        border-right: 0;
        border-bottom: 0;
        rotate: 135deg;
        transform-origin: top left;
        position: absolute;
        top: 1.81rem;
        right: 0.4511rem;
    }
}

/********************************

benefit

********************************/

.benefits {
    text-align: center;
    padding: 5.44rem 0 6.69rem 0;
}

.benefits__inner {
    max-width: 64rem;
    margin: 0 auto;
}

// .benefits__level2-heading {}

.benefits__text {
    text-align-last: left;
    margin: 3.25rem 0 0 10.56rem;
}

.benefits__list {
    display: flex;
    justify-content: center;
    margin-top: 7.12rem;
}

.benefits__list-item {
    position: relative;
    margin-left: 5.88rem;

    &:first-child {
        margin-left: 0;
    }

    // &::before {
    //     content: '';
    //     display: block;
    //     background-color: $color-main-light;
    //     border-radius: 50%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 26.875rem;
    //     height: 26.875rem;
    //     z-index: -1;
    // }
}

.benefits__list-link {
    display: inline-block;
    background-color: $color-main-light;
    border-radius: 50%;
    padding: 23.69rem 0 0.56rem 0;
    width: 26.875rem;
    // padding-top: 26.875rem;
}

.benefits__list-img {
    object-fit: cover;    
    // transform: translateY(-50%);
}

.benefits__career-img {
    position: absolute;
    top: 7.92rem;
    left: 5.76rem;
    aspect-ratio: 15.28788/10.96856; // 横/縦
    // margin-top: -0.06rem;
    width: 15.28788rem;
}

.benefits__welfare-img {
    position: absolute;
    top: 6.25rem;
    left: 2.69rem;
    aspect-ratio: 21.5/14.375;
    // margin-top: -0.2rem;
    width: 21.5rem;
    // aspect-ratio: 17.9475/11.17081;
    // width: 17.9475rem;
}

.benefits__level3-heading {
    display: inline-block;
    font-size: 2rem;
    // padding-top: 23.69rem;
    // position: absolute;
    // position: absolute;
    // padding-top: 23.69rem;
    // transform: translateY(-26.875rem / 2 - 0.06rem );
    // padding-top: 4.8rem;
}

.benefits__list-text {
    line-height: 1.5;
    text-align: left;
    padding-top: 1.69rem;
}

.benefits__vertical-text {
    color: $color-black;
    font-family: $font-sub1;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.225rem;
    position: absolute;
    top: 0;
    right: 1.25rem;
    writing-mode: vertical-rl;
    cursor: default;
}

.benefits__arrow-btn {
    position: absolute;
    top: 19.12rem;
    right: 1.25rem;
}