@use '_mixin.scss' as *;
@use '_variable.scss' as *;

/* fv
***************************************************************/

.fv {
    background-image: url(../img/layout/top-page/fv01.jpg);
    background-size: cover;
    // padding-top: 57.15277%;
    // height: 51.4375rem;
}

.fv__inner {
    padding-bottom: 2.38rem;
}

.fv__bg01 {
    
}

.fv__level2-heading {
    color: $color-white;
    font-family: $font-sub1;
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.2;
    padding: 17.88rem 0 0 4.12rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.fv__level3-heading {
    display: inline-block;
    color: $color-white;
    font-family: $font-main;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1.06rem 4.12rem;
    margin-top: 5.38rem;
    background-color: $color-black;
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
}

.news-widget {
    display: flex;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 3.13rem;
    margin-top: 3.94rem;
    margin-left: 4.5rem;
    max-width: 78.9375rem;
}

.news-widget__level3-heading {
    display: inline-block;
    color: $color-white;
    font-family: $font-sub1;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    background-color: $color-black;
    padding: 1.1275rem 3.69rem 1.1275rem 3.6875rem;
    border-radius: 3.13rem 0 0 3.13rem;
}

.news-widget__text {
    color: $color-black;
    font-family: $font-main;
    font-size: 1rem;
    line-height: 1;
    padding: 1.375rem 0 1.375rem 5.5575rem;
}

.news-widget__link {
    color: $color-black;
    font-family: $font-sub1;
    font-size: 0.875rem;
    line-height: 1;
    margin: 1.375rem 2.94rem 1.375rem auto;
    display: flex;
    align-items: center;
}

.news-widget__link-img {
    margin-left: 0.38rem;
    width: 0.625rem;
    aspect-ratio: 1/1;
}

/* mission
***************************************************************/

.mission {
    position: relative;
}

.mission__inner {
    padding: 6.31rem;
}

.mission__level2-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-black;
    font-family: $font-main;
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    top: 23.12rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.mission__level2-heading-span {
    display: block;
    background-color: $color-white;
    padding: 0.44rem 0.69rem;
    margin: 0.44rem auto 0;

    &:first-child {
        margin-top: 0;
    }
}

.mission__slide-list {
    // margin-top: 6.31rem;
}

.mission__slide-item {
    margin-left: 2.12rem;

    &:nth-child(even) {
        margin-top: 2.25rem;
    }
}

.mission__slide-img {
    aspect-ratio: 31.625/24.5625;
    border-radius: 3.75rem;
    width: 31.625rem;
}

.mission__level3-heading-wrap {
    background-image: url(../img/layout/top-page/map1.png);
    background-size: cover;
    margin-top: 6.25rem;
}

.mission__level3-heading {
    color: $color-black;
    text-align: center;
    font-family: $font-sub2;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.8;
    margin-top: 3.25rem;

    &:first-child {
        margin-top: 0;
    }
}

.mission__level3-heading-span {
}

.mission__btn {
}

.mission__btn-link {
}

