/* color
****************************************************************/

$color-main: #AFA86F;
$color-main-light: #FAF7F1;/*
$color-main-dark: ;
$color-sub: ;
$color-sub-light: ;*/
$color-white: #fff;
$color-black: #222;/*
$color-dark: ;
$color-light: ;*/

/* font
***************************************************************/

$font-main: "Noto Sans JP", sans-serif;
$font-sub1: "Viga", sans-serif;
$font-sub2: "Poppins", sans-serif;